{% load static %}
<html>
<head>
    <title>Buy/Sell for NITK</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div>
        <!--<h1><a href="/">Buy/Sell for NITK</a></h1>-->
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Buy/Sell for NITK</a></h1>
        </div>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
    <!--{% for post in posts %}
        <div class="post">
            <h2><a href="">{{ post.name }}</a></h2>
            <p>{{ post.phone }}</p>
        </div>
    {% endfor %}-->
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>