<!-- Base is used for re-using the same code in other templates .(code reusability) -->
<!-- static folder contains CSS file -->
{% load static %} 
<html>
<head>
    <title>Buy/Sell for NITK</title>
    <!-- installing bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- customizing the header -->
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!-- loading static files -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header">
        <!-- if user is logged in, then allow them to create new post -->
        <!-- Also display logout option for logged in users -->
        <!-- If not logged in ,then display login / register option -->
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% else %}
        <p class="top-menu">Login<a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a></p>
        <p class="top-menu">Register<a href="{% url 'register' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a></p>
        {% endif %}
        <h1><a href="/">Buy/Sell for NITK</a></h1>
    </div>
    
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>
