{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.created_date %}
            <div class="date">
                {{ post.created_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <p>NAME - {{ post.name }}</p>
        <p>IMAGE - {{ post.image }}</p>
        <p>DESCRIPTION - {{ post.description|linebreaksbr }}</p>
        <p>AGE - {{ post.age }}</p>
        <p>COST - {{ post.cost }}</p>
        <p>ADDRESS - {{ post.address }}</p>
    </div>
{% endblock %}