<!-- Page for displaying the details of a particular object -->
{% extends 'blog/base.html' %}
    {% block content %}

        <div class="post">
            
            {% if post.created_date %}
            
                <div class="date">
                    {{ post.created_date }}
                </div>
            
            {% endif %}
            
            <!-- If user is logged in , allow him to edit or delete the post -->
            <!-- Requests : post_edit (urls.py)-->
            <!-- Requests : post_remove (urls.py)-->
            
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
            
            <p>NAME - {{ post.name }}</p>
            
            <!-- Image is uploaded to the images folder in MEDIA directory -->
            <!-- image = models.ImageField(upload_to='images/', null=True, blank=True) -->\
            <!-- Request : URL -->
            
            <p>IMAGE - <img src="{{ post.image.url }}" ></p>
            <p>UPLOADED_DATE - {{ post.created_date }}</p>
            <p>DESCRIPTION - {{ post.description|linebreaksbr }}</p>
            <p>AGE ON UPLOADED DATE- {{ post.years }} years, {{ post.months }} months, {{ post.days }} days </p>
            <p>COST - {{ post.cost }}</p>
            <p>ADDRESS - {{ post.address }}</p>
            <p>Do you want to purchase this item?</p>
            
            <!-- Subtract amount from Buyer and add it to Seller if Yes -->
            <!-- Request : post_update (urls.py) -->
            <a class="btn btn-default" href="{% url 'post_update' pk=post.pk %}"><button type="submit">Yes</button></a>
            
            <!-- Return to home-page if no -->
            <!-- Request : post_list (urls.py)-->
            <a class="btn btn-default" href="{% url 'post_list' %}"><button type="submit">No</button></a>
            
        </div>
    {% endblock %}
